<!-- Footer here -->
 

<div class="social">
      <p class="w-full text-center">Want to connect with me?</p>
      <div class="flex justify-center space-x-6">
          <a href="https://manjumjn.com">Website</a>
          <a href="https://www.facebook.com/manjumjn">Facebook</a>
          <a href="https://twitter.com/manju_mjn">Twitter</a>
          <a href="mailto:manjumjng2@gmail.com">Email Me</a>
      </div>
  </div>
</div>

<script src="./js/scripts.js"></script>

<!-- Demo Purpose -->
<script async defer src="https://buttons.github.io/buttons.js"></script>